@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@{ 
    var isInLogin = ViewBag.IsInLogin ?? false;
}
<!DOCTYPE html>
<html>
<head>
    <script>
        function template(name) {
            return "@Url.Action("templates","api")/" + name;
        }
        var Routes = {
            Login: "@Html.Raw(Url.Action("","Login"))",
            Customers: "@Html.Raw(Url.Action("","Customer"))",
            Config: "@Html.Raw(Url.Action("","Config"))",
            EmailTemplate: "@Html.Raw(Url.Action("","Template"))"
        };
        var ApiRoutes= {
            Customers: "@Html.Raw(Url.Action("customers","api"))",
            EmailConfig: "@Html.Raw(Url.Action("emailconfig","api"))",
            Templates: "@Html.Raw(Url.Action("templates","api"))",
            ApiMerakiImages: "@Html.Raw(Url.Action("merakiimage", "api"))",
            ComboMerakiImages:"@Html.Raw(Url.Action("merakiimagecombo","api"))"
        }
            var Templates = {
            EditorBase:"@Html.Raw(Url.Action("EditorBase","Template"))",
            ViewBase: "@Html.Raw(Url.Action("ViewBase","Template"))",
            EditorDate: "@Html.Raw(Url.Action("EditorDate","Template"))",
            ViewDate: "@Html.Raw(Url.Action("ViewDate","Template"))",
            MerakiGrid: "@Html.Raw(Url.Action("MerakiGrid","Template"))",
            MerakiEditor: "@Html.Raw(Url.Action("MerakiEditor","Template"))",
            MerakiPopupGrid:"@Html.Raw(Url.Action("MerakiPopupGrid","Template"))"
        };
    </script>
    <meta charset="utf-8" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#3f51b5" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meraki Estudio: @ViewBag.Title </title>
    <link rel="stylesheet" href="~/node_modules/angular-material/angular-material.min.css"/>
    <link rel="stylesheet" href="~/node_modules/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/node_modules/angular/angular.min.js"></script>
    <script src="~/node_modules/angular-route/angular-route.js"></script>
    <script src="~/node_modules/angular-aria/angular-aria.min.js"></script>
    <script src="~/node_modules/angular-animate/angular-animate.js"></script>
    <script src="~/node_modules/angular-messages/angular-messages.min.js"></script>
    <script src="~/node_modules/angular-material/angular-material.js"></script>
    <script src="~/node_modules/jquery/src/jgestures.min.js"></script>
    <script src="~/app/Meraki.App.js"></script>
</head>
<body ng-app="MerakiApp" ng-controller="MerakiMainController" layout="column" layout-align-sm="start stretch">
   @if (!isInLogin)
   {
    <md-toolbar  layout="row"  flex="none" layout-align="space-between center">
        <md-button flex="none" class="md-raised md-icon-button" ng-click="openSidenav()"><i class="fa fa-bars" aria-hidden="true"></i></md-button>
        <a flex="none" class="md-button" href="@Html.Raw(Url.Action("DoLogOff", "Login"))">
            Cerrar Sesión
        </a>
    </md-toolbar>
   }
    <md-sidenav md-component-id="left" class="md-sidenav-left" ng-cloak md-swipe-left="closeSidenav()">
        <header class="nav-header">
            <a ng-href="/" class="docs-logo" href="/">
                <img src="~/images/w_meraki-logo-negro.png" alt="Meraki Estudio">
            </a>
        </header>
       <md-list flex>
           <md-list-item flex class="meraki-menu-item">
               <a class="md-button md-no-style"  href="~/">
                   <i class="fa fa-home"></i> Inicio
               </a>
           </md-list-item>
           <md-list-item flex class="meraki-menu-item" layout="row">
               <a class="md-button md-no-style" href="~/Customer">
                   <i class="fa fa-address-book"></i> Clientes
               </a>
           </md-list-item>
           <md-list-item flex class="meraki-menu-item">
               <a class="md-button md-no-style" href="~/MerakiImage">
                   <i class="fa fa-image"></i> Imagenes
               </a>
           </md-list-item>
           <md-list-item flex class="meraki-menu-item">
               <a class="md-button md-no-style" href="~/Template">
                   <i class="fa fa-pencil"></i> Plantillas
               </a>
           </md-list-item>
           <md-list-item flex class="meraki-menu-item">
               <a class="md-button md-no-style" href="~/Config">
                   <i class="fa fa-cog"></i> Configuración
               </a>
           </md-list-item>
       </md-list>
    </md-sidenav>
    <md-content class="body-content" layout="row" flex="100" layout-align-sm="center stretch">
        @RenderBody()
    </md-content>
    <footer>
        <p>&copy; 2017 - Meraki Estudio</p>
    </footer>
    @RenderSection("Scripts",false)
</body>
</html>
